<div class="homepage">
  <img width="120" height="40" src="{{ 'mage_dev.webp' | asset_url }}" class="logo">
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>